@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body, .img-fundo {
    height: 100%;
}

body {
    font-family: 'Comfortaa', cursive;
    background: url('../_images/bg.jpg')no-repeat;
    background-size: cover;
}

.img-fundo {
    display: table;
    width: 100%;
}

.texto {
    text-align: center;
    display: table-cell;
    color: #fff;
    vertical-align: middle;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -0.04em;
}

h4{
    font-size: 40px;
    margin: 20px 6px;
}

.btn-custom {
    margin: 20px 0;
    color: #fff;
    border-radius: 50px;
    border: solid 1px #fff;
    padding: 15px 20px;
    text-transform: uppercase;

}

.btn-custom:hover {
    background-color: #fff;
    color: #1D9FFF;
}

a.social {
    font-size: 20px;
}

a {
    color:#fff;
    margin: 0px 5px;
    transition: 500ms;
}

a:hover {
    color: #1D9FFF;;
    transition: 500ms;
}

@media screen and (max-width: 767px){
    a.social {
        font-size: 30px;
    }
}


