@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body, .img-fundo {
    height: 100%;
}

body {
    font-family: 'Comfortaa', cursive;
    background: url('../_images/bg_body2.jpg')no-repeat;
    background-size: cover;
}


.img-fundo {
    display: table;
    width: 100%;
}

.texto {
    text-align: center;
    display: table-cell;
    color: #fff;
    vertical-align: middle;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -0.04em;
}

h4{
    font-size: 40px;
    margin: 50px 6px;
}

a {
    color:#fff;
    font-size: 20px;
    margin: 0px 5px;
    transition: 500ms;
}

a:hover {
    color: #ff4169;
    transition: 500ms;
}
